/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: hsl(0, 0%, 98%);
}
header{
    padding: 30px;
    margin-bottom: 30px;
}
header .heading{
    font-size: 35px;
}
.colored{
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}
.sub-text{
    color: hsl(229, 6%, 66%);
    width: 500px;
    margin: 15px auto;
    font-size: 14px;
    text-align: center;
}
.cards{
    display:flex;
    flex-wrap: wrap; /*wrap the flex items #add*/
    justify-content: center;
    margin: 15px auto;
    max-width: 1120px;
}
.cards .card{
    background-color: #fff;
    text-align: left;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    position: relative;
    font-size: 10px;
    width: 250px;
    margin: 15px;
    padding: 20px;
}

.cards .push{
    transform: translateY(110px);
}
.cards .card .small-text{
    font-size: 12px;
    padding-right: 10px;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}
.cards .supervisor{
    border-top: 3px solid hsl(180, 62%, 55%);
}
.cards .team{
    border-top: 3px solid hsl(0, 78%, 62%);
}
.cards .calculator{
    border-top: 3px solid hsl(212, 86%, 64%);
}
.cards .karma{
    border-top: 3px solid hsl(34, 97%, 64%);
}
.cards .sub-header{
    font-size: 17px;
    margin-bottom: 10px;
}
.cards .icon{
    padding: 20px 0px 20px 200px;
    padding-bottom: 5px;
}
.cards .icon img{
    width: 40px;
}


/* for mobile */
@media(max-width: 375px){
    body{
        width: 365px;
    }
    header{
        text-align: center;
        
        
    }
    header .heading{
        font-size: 23px;
        padding: 3px 2px;
}
    .sub-text{
        width: 300px;
        margin: auto;
        font-size: 15px;
    }
    .cards{
        display: flex;
        flex-direction: row;
    }
    .cards .card{
        width: 355px;
        transform: none;
    }
    .cards .card .sub-header{
        font-size: 19px;
    }
    .cards .card .small-text{
        font-size: 14px;
    }
    .cards .card .icon{
        padding: 25px 0px 15px 230px;
    }
    .cards .card .icon img{
        width: 50px;
    }
    .calculator{
        order: 3;
    }

}

@media(max-width:975px){
    .cards{
        transform: none;
    }
}




















footer{
    text-align: center;
    font-size: 20px;
}